/gen/*
!/gen/README.md

/firmware/build/
*.o
*.d
*.elf
*.bin
*.hex
*.lst
*.map

target/
.bsp/
.bloop/
.metals/
project/project/
project/target/

.idea/
*.iml
.vscode/*
!.vscode/extensions.json


/hw/simWorkspace/

.DS_Store
